ultralytics
supervision
influxdb-client
onnxruntime
torch
numpy>=1.26.4
opencv-python
pillow
scipy
matplotlib
seaborn
scikit-learn
pandas
requests
flask
gunicorn
pytest
pytest-cov
black
fiftyone