ultralytics
supervision
influxdb-client
onnxruntime
torch
wheel
numpy==1.24.3
opencv-python
pillow
scipy
matplotlib
seaborn
scikit-learn
pandas
requests
flask
gunicorn
pytest
pytest-cov
black
fiftyone